SMS Popup/bin/*
SMS Popup/obj/Debug/*
SMS Popup/obj/*
SMS Popup/.vs/SMS Popup/v16/.suo
SMS Popup/.vs/SMS Popup/DesignTimeBuild/.dtbcache.v2
SMS Popup/SMS Popup.csproj.user
SMS Popup/SMS Popup/bin/*
SMS Popup/SMS Popup/obj/*
SMS Popup/SMS Popup/SMS Popup.csproj.user
SMS Popup/SMS Popup/WS.cs
